@model School.ViewModels.GroupOrganization.ActivityTerms.ActivityTermVM

<div>
    <div class="operationDescription">
        <h5 class="title_per title-in"><a href="" id="detailed-activity" data-acId="@Model.ID">活动信息</a> </h5>
        <h5 class="title_per title-in"><a href="" id="detailed-activity-images" data-acId="@Model.ID">活动图片</a></h5>
        <h5 class="title_per title-in"><a href="#" id="detailed-activity-member" data-acId="@Model.ID">活动成员</a></h5>
    </div>
    <div class="ac-info-images clearfix">
        <ul id="activityImages">
            @{
                if (Model.Members.Count() > 0)
                {
                    foreach (var item in Model.Members)
                    {
                        <li>
                            <div class="ac-per-info clearfix">
                                <a href="#" class="sc-left ac-image-op  image-a">
                                    <img src="@(item.User.Avatar!=null?item.User.Avatar.UploadPath:"/images/Common/Default/head_portrait.gif")" alt="">
                                    @{
                                        if (Model.User.Id == User.Claims.FirstOrDefault().Value && item.User.Id != User.Claims.FirstOrDefault().Value)
                                        {
                                            <i class="fa fa-times delete-activity-member" data-member-id="@item.ID"></i>
                                        }
                                    }
                                </a>
                                <div class="ac-per-info-add">
                                    <h4>@item.User.Name</h4>
                                    <p>@(item.User.Sex ? "男" : "女")</p>
                                    <a href="#" class="seeUserDetailed" data_Id="@item.User.Id"><i class="fa fa-plus "></i>查看</a>
                                </div>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <span style="display:block;font-size:18px;font-weight:bold">暂无人参与</span>
                }
            }

        </ul>
    </div>
</div>


