@model School.ViewModels.GroupOrganization.AnAssociationVM
@{
    var user = User.Claims.FirstOrDefault();
}
<link href="~/css/managerCenter/information_activityDetailed.css" rel="stylesheet" />
<div>
    <div class="operationDescription">
        <h5 class="title_per title-in"><a href="" class="detailed-anAssociation" data-acId="@Model.ID">社团信息</a> </h5>
        <h5 class="title_per title-in"><a href="" id="detailed-anAssociation-images" data-acId="@Model.ID">社团图片</a></h5>
        <h5 class="title_per title-in"><a href="" id="detailed-anAssociation-members" data-acId="@Model.ID">社团成员</a></h5>
    </div>
    <div class="ac-info-images clearfix">
        <div class="activity-info">
            <label for="">活动名称：</label>
            <span>@Model.Name</span>
        </div>
        <div class="activity-info">
            <label for="">学校地址：</label>
            <span>@Model.SchoolAddress</span>
        </div>
        <div class="activity-info">
            <label for="">创建的时间：</label>
            <span>@Model.CreateDataTime</span>
        </div>
        <div class="activity-info">
            <label for="">上限人数：</label>
            <span>@Model.MaxNumber</span>
        </div>
        <div class="activity-info">
            <label for="">社团人数：</label>
            <span>@Model.AnAssociationNum</span>
        </div>
        <div class="activity-info">
            <label for="">社长：</label>
            <span>@Model.User.Name</span>
        </div>
        <div class="activity-info">
            <label for="">联系电话：</label>
            <span>@Model.User.MobileNumber</span>
        </div>
        <div class="activity-info">
            <label for="">联系QQ：</label>
            <span>@Model.User.QQ</span>
        </div>
        <div class="activity-info">
            <label for="">活动数量：</label>
            <span>@Model.acNum</span>
        </div>
        <div class="activity-info">
            <label for="">活动介绍：</label>
            <span>@Model.Description</span>
        </div>
        <div class="info-operation-bottom head-portrait-an">
            @if (Model.User.Id == user.Value)
            {
                <button class="tn-head-portrait editAnAssociation" data-acId="@Model.ID">更改</button>
            }

        </div>
    </div>
</div>
